@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark{
  background-color: #1e1e1e
}
.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

* {
  scroll-behavior: smooth;
}

.gradient {
  background: linear-gradient(#ffffff, #16cfaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.dimGradient{
  background: linear-gradient(#767575, #16cfaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

hr{
  height: 1px;
  background: linear-gradient(#767575, #16cfaa);
  border: none;
  outline: none;
  position: relative;
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
.text__gradient{
  color: #16cfaa;
}
.blue__gradient {
  background: rgba(22, 207, 170, 0.6);
  filter: blur(350px);
}

.gradient__button{
  --angle: 0deg;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(var(--angle), #767575, #16cfaa);
  animation: 5s rotate linear infinite;
}
.gradient__border {
  --angle: 0deg;
  border: 2px solid;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-image-slice: 1;
  border-image-source: linear-gradient(var(--angle), #767575, #16cfaa);
  animation: 5s rotate linear infinite;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
